# Email configuration
MICROSOFT_CLIENT_SECRET = [Client secret value]
MICROSOFT_CLIENT_ID = [Application identifier]
MICROSOFT_TENANT_ID = [Azure AD tenant ID]

# TimeSolv API secrets
REDIRECT_URI = [Redirect URI, can be localhost]
TIMESOLV_CLIENT_ID = [TimeSolv client ID obtained from registering app]
TIMESOLV_CLIENT_SECRET = [TimeSolv client secret obtained from registering app]
TIMESOLV_AUTH_CODE = [Auth code obtained from running TimeSolv developer set up]

# Other necessary components
SENDER_EMAIL = [Outlook email address]     
ADMIN_EMAILS = [List of admin email addresses for summary reports]
EXCLUDE_USER_IDS = [List of Timesolv User IDs to exclude from processing]

# For testing
USER_ID = [Personal Timesolv User ID, your own]