name: Timesheet Tracker Action

on:
  schedule:
    - cron: '0 1 * * 6'  # 1 AM UTC Saturday = 8 PM EST Friday

jobs:
  check-timesheets:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute timecard script # run main.py
        env:
          # For TimeSolv API
          TIMESOLV_CLIENT_ID: ${{ secrets.TIMESOLV_CLIENT_ID }}
          TIMESOLV_CLIENT_SECRET: ${{ secrets.TIMESOLV_CLIENT_SECRET }}
          TIMESOLV_AUTH_CODE: ${{ secrets.TIMESOLV_AUTH_CODE }}
          TIMESOLV_REDIRECT_URI: ${{ secrets.TIMESOLV_REDIRECT_URI }}

          # For Microsoft Graph API
          MICROSOFT_CLIENT_ID: ${{ secrets.MICROSOFT_CLIENT_ID }}
          MICROSOFT_CLIENT_SECRET: ${{ secrets.MICROSOFT_CLIENT_SECRET }}
          MICROSOFT_TENANT_ID: ${{ secrets.MICROSOFT_TENANT_ID }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        run: python main.py
          
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 